doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Matias Mierez Suarez
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/estilos.css")
        script(defer src="js/index.js" )
    body 
        header(class="topheader")
            nav(class="topnav")
                a(href="#" class="logo") 
                    img(src="img/logo.png", alt="programador")
                    div Matias Mierez Suarez
                    br
                button(class="open-menu" aria-label="Abrir menú")
                    img(src="img/icons8-menú.svg", alt="abrir menu")
                ul(class="menu menu_opened")
                    button(class="close-menu" aria-label="Cerrar menú")
                        img(src="img/icons8-cerrar-ventana-16.png", alt="cerrar menu")
                    li
                        a(href="#profile" class="selected") Perfil
                    li
                        a(href="#experience") Experiencia
                    li
                        a(href="#skills") Habilidades
                    li
                        a(href="#contact") Contacto
        section(class="profile")
            div(class="profile-info")
                h1(class="profile-title") Hola, soy <br/> Matias Mierez Suarez
                p(class="profile-details")
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, veritatis.
                button(class="profile-btn") Descargar CV
            span(class="profile-img-section")
                img(class="profile-img" src="img/fotito.png", alt="programador")
                div(class="profile-img-line")